/* application */
body {
  font-family:　"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 
                "メイリオ", "Meiryo, Osaka", "ＭＳ Ｐゴシック", 
                "MS PGothic", sans-serif;
  padding-top: 130px;
  z-index: 0;
}

/* header */
#dropdown {
  li {
    font-size: 14px;
  }
}

#position-fixed {
  width: 100%;
  z-index: 1;
  text-align: center;
}

#about {
  background: no-repeat center url("../images/about.jpeg");
  background-size: cover;
  height: 300px;
  color: #FFF;
}

#about p {
  font-size: 16px;
}

/* pagination */
.pagination{
  li {
    width: 20px;
    text-align: center;
    border: solid 1px #007BFF;
    padding: 1px 2px;
    
  }
  .prev {
    width: 50px;
  }
  .next {
    width: 50px;
  }
  .active {
    background-color: #007BFF; 
    pointer-events: none;
    a {
    color: #FFF;
    }
  }
}

.disabled {
  border: solid 1px #007BFF;
  background-color: #007BFF; 
  pointer-events: none;
  a {
  color: #FFF;
  }
}