// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* for about in index */
#about {
  background: no-repeat center url(../image/about.jpeg);
  background-size: cover;
  height: 300px;
  color: #FFF;
  p {
    font-size: 16px;
  }
}

/* for post*/
#thumbnail {
  img {
    width: 500px;
    height: 500px;
  }
  .star {
    text-align: center;
    font-size: 25px;
  }
}

#thumbnail-mini {
  img {
  width: 300px;
  height: 300px;
  }
  .star {
    text-align: center;
    font-size: 15px;
  }
}

.star_post:hover {
	cursor: pointer;
}
.star_on {
	color: yellow;
}
.star_off {
	color: gray;
}

#detail p {
    word-wrap: break-word;
}
